<!DOCTYPE html>
<html>
<head>
    <style>
      body, html {
        height: 100%;
        margin: 0;
        background-color: lightseagreen;
      }
       
      .bg {
           
       
         background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtN_MYpa7g103fEU3o_hA3Ccim2EyYw4ryWce53MbP7DWUDuzP");
        height: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
   <title>Patient Services</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
   
   <form method="get" action="/">
    <p>
    <input type="submit" value="Home"/>
    </p>
  </form>
  
    <h1>Providence Health & Services </h1>
    <p>Family Medicine</p>
    <p>And here's our services:</p>
    <div class="bg">
         
    </div>



        
        <div>
                <iframe width="580" height="315" src="https://www.youtube.com/embed/6-pou5z5Q2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                 

<blockquote>Achieving the best clinical outcomes requires commitment and passion to transform care for future generations. Through our research programs, clinical trials and strategic initiatives, Providence identifies and implements clinical innovations to enhance patient care.

While we pursue long-term clinical innovations, we also devote time to more immediate initiatives. For instance, our ministries share best practices for reducing hospital-acquired infections and cultivating safer environments that eliminate preventable injuries and deaths. Providence is dedicated to pioneering improvements in health care and changing lives.</div>

<quotes.length; i++) {
        var r = Math.floor(Math.random()*255);
        var g = Math.floor(Math.random()*255);
        var b = Math.floor(Math.random()*255);
        var q = quotes[i];
        q.style.setProperty('color', 'rgb('+ r +','+ g +',' + b + ')');
    }
}

window.setInterval(partypartyparty, 500);



    </body>

     
  <h1>About Providence Health & Services </h1>                                 
  <li>Providence Health & Services is a not-for-profit Catholic network of hospitals, care centers, health plans, physicians, clinics, home health care and affiliated services guided by a Mission of caring that the Sisters of Providence began in the West more than 160 years ago.</li>
  
  <h1>Our Mission</h1>
  <li>As expressions of God’s healing love, witnessed through the ministry of Jesus, we are steadfast in serving all, especially those who are poor and vulnerable.</li>
  
  <h1>Our Core Values</h1>
  Compassion, Dignity, Justice, Excellence, Integrity
  
   <h1>Find Us in Your Community</h1>                                        
   <li> Alaska </h1> 
    <li>California </h1>
    <li>Montana</h1> 
     <li>Oregon</h1> 
    <li>Washington</h1>     
  
  </html>
