<html>
<head>
    <style>
      body, html {
        height: 100%;
        margin: 0;
        background-color: rgb(8, 10, 138);
      }
       
      .bg {
           
       
         background-image: url("https://www.travelnursing.com/uploadedImages/StaffCare/Content/Resource_Center/Ethnic_nurse_listening_senior_patient_in_wheelchair.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
   <title>Education Portal</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
   <form method="get" action="/">
    <p>
    <input type="submit" value="Home"/>
    </p>
</form> 
    <h1>Providence Health & Services </h1>
    <p>Family Medicine</p>
    <p>And here's our services:</p>
    <div class="bg">
   

  
    </div>
 
        <div>
                <iframe width="580" height="315" src="https://www.youtube.com/embed/SBJj5RSBKHA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 
<blockquote>Top post-op pneumonia prevention tips: 1) Ambulate 3 times daily 2) Use your incentive spirometer 10 times hourly 3) Brush your teeth before and after meals</blockquote>
<div class="cite">-Your Doctor</div>
</html>