<!DOCTYPE html>
<html>
<head>
    <style>
      body, html {
        height: 100%;
        margin: 0;
        background-color: lightseagreen;
      }
       
      .bg {
           
       
         background-image: url("https://bisnow.files.wordpress.com/2011/09/maroon5gwst3.jpg");
        height: 200%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
   <title>Jukebox</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
   <form method="get" action="/">
    <p>
    <input type="submit" value="Home"/>
    </p>
  </form>
    <h1>Providence Health & Services </h1>
    <p>Family Medicine</p>
    <p>And here's our services:</p>
    <div class="bg">
   
    <form method="get" action="/patient-games">
        <p>
        <input type="submit" value="Music AND Games!"/>
        </p>
    </form>
    <ul>
    <li>
    <a href="/patient-education">http://paitent-games.com</a>
    </li>
    </ul>
    
    </div>
 
<!-- Wikplayer https://www.wikplayer.com -->
<script type="text/javascript" src="https://www.wikplayer.com/code.js"
data-config="{'skin':'skins/wikfull/funkyDeepOcean/skin.css','volume':95,'autoplay':true,'shuffle':true,'repeat':2,'showcomment':false,'marqueetexton':true,'placement':'top','showplaylist':false,'playlist':[{'title':'Girls%20Like%20You%20ft.%20Cardi%20B','url':'https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DaJOTlE1K90k'}]}" ></script>
<!-- Wikplayer code end -->
        
        <div>
                <iframe width="580" height="315" src="https://www.youtube.com/embed/6-pou5z5Q2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 
<blockquote>Nerds like us are allowed to be unironically enthusiastic about stuff. Nerds are allowed to love stuff - like, jump-up-and-down-in-your-chair-can't-control-yourself love it. When people call other people nerds, mostly what they're saying is "You like stuff", which is not a good insult at all. Like, "You are too enthusiastic about the miracle of human consciousness".</blockquote>
<div class="cite">John Green</div>
i<quotes.length; i++) {
        var r = Math.floor(Math.random()*255);
        var g = Math.floor(Math.random()*255);
        var b = Math.floor(Math.random()*255);
        var q = quotes[i];
        q.style.setProperty('color', 'rgb('+ r +','+ g +',' + b + ')');
    }
}
window.setInterval(partypartyparty, 500);
</html>
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <table class="tg">
    <tr>
      <th class="tg-c3ow"></th>
      <th class="tg-c3ow">The Benefits of Music</th>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-0pky">Providence Health is here to provide the best care for the patients that are coming in and out of the hospital.<br>One way we are providing care for the patient and their families as soon as they walk in the facilities is<br>music. We have music playing in the background to help comfort the people that are coming in and out of <br>the hospital. Music has lots of benefits for us, and it can help us to be calm and feel at ease. The following<br>list below shows the major benefits of how music is beneficial to us:</td>
    </tr>
    <tr>
      <td class="tg-c3ow"></td>
      <td class="tg-0pky">Improves mood. Studies show that listening to music can benefit overall well-being, <br>help regulate emotions,, and create happiness and relaxation in everyday life.<br></td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Reduces stress. Listening to ‘relaxing’ music (generally considered to have slow<br> tempo, low pitch, and no lyrics) has been shown to reduce stress and anxiety in<br> healthy people and in people undergoing medical procedures (e.g., surgery,<br> dental, colonoscopy).</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Lessens anxiety. In studies of people with cancer, listening to music combines <br>memory. Research has shown that the repetitive elements of rhythm and <br>melody help our brains form patterns that enhance memory. In a study of <br>stroke survivors, listening to music helped them experience more verbal <br>memory, less confusion, and better focused attention.ed with standard care <br>reduced anxiety compared to those who received standard care alone.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Improves exercise. Studies suggest that music can enhance aerobic <br>exercise, boost mental and physical stimulation, and increase overall <br>performance.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-In studies of patients recovering from surgery, those who listened to music <br>before, during, or after surgery had less pain and more overall satisfaction <br>compared with patients who did not listen to music as part of their care.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Provides comfort. Music therapy has also been used to help enhance <br>communication, coping, and expression of feelings such as fear, <br>loneliness, and anger in patients who have a serious illness, and who <br>are in end-of-life care.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Improves cognition. Listening to music can also help people with <br>Alzheimer’s recall seemingly lost memories and even help maintain <br>some mental abilities.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Helps children with autism spectrum disorder. Studies of children <br>with autism spectrum disorder who received music therapy showed <br>improvement in social responses, communication skills, and attention skills.</td>
    </tr>
    <tr>
      <td class="tg-0lax"></td>
      <td class="tg-0lax">-Soothes premature babies. Live music and lullabies may impact <br>vital signs, improve feeding behaviors and sucking patterns in <br>premature infants, and may increase prolonged periods of <br>quiet–alert states.</td>
    </tr>
  </table>
