<!DOCTYPE html>
<html>
<head>
    <style>
      body, html {
        height: 100%;
        margin: 0;
        background-color: lightseagreen;
      }
       
      .bg {
           
       
        background-image: url({{ url_for('static', filename='ptmusic.jpg') }});
        height: 200%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
   <title>My title</title>
   <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
   
    <h1>Providence Health & Services </h1>
    <p>Family Medicine</p>
    <p>And here's our services:</p>
    <div class="bg">
   
    <form method="get" action="/patient-games">
        <p>
        <input type="submit" value="Next Page"/>
        </p>
    </form>
    <ul>
    <li>
    <a href="/patient-games">http://paitent-games.com</a>
    </li>
    </ul>
    
    </div>
 
<!-- Wikplayer https://www.wikplayer.com -->
<script type="text/javascript" src="https://www.wikplayer.com/code.js"
data-config="{'skin':'skins/wikfull/funkyDeepOcean/skin.css','volume':95,'autoplay':true,'shuffle':true,'repeat':2,'showcomment':false,'marqueetexton':true,'placement':'top','showplaylist':false,'playlist':[{'title':'Girls%20Like%20You%20ft.%20Cardi%20B','url':'https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DaJOTlE1K90k'}]}" ></script>
<!-- Wikplayer code end -->
        
        <div>
                <iframe width="580" height="315" src="https://www.youtube.com/embed/6-pou5z5Q2w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 
<blockquote>Nerds like us are allowed to be unironically enthusiastic about stuff. Nerds are allowed to love stuff - like, jump-up-and-down-in-your-chair-can't-control-yourself love it. When people call other people nerds, mostly what they're saying is "You like stuff", which is not a good insult at all. Like, "You are too enthusiastic about the miracle of human consciousness".</blockquote>
<div class="cite">John Green</div>
i<quotes.length; i++) {
        var r = Math.floor(Math.random()*255);
        var g = Math.floor(Math.random()*255);
        var b = Math.floor(Math.random()*255);
        var q = quotes[i];
        q.style.setProperty('color', 'rgb('+ r +','+ g +',' + b + ')');
    }
}
window.setInterval(partypartyparty, 500);
</html>
